{% extends "base.jinja2" %}
{% block title %}Sign up{% endblock %}
{% block content %}
<div class="row justify-content-center">
<div class="col-12 col-md-8 col-lg-5">
<h1 class="mb-4">Sign up</h1>
<form method="post" action="/signup" class="vstack gap-3">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <div>
        <label for="name" class="form-label">Name</label>
        <input id="name" class="form-control" name="name" value="{{ form.name|default('') }}" required>
    </div>
    <div>
        <label for="email" class="form-label">Email</label>
        <input id="email" class="form-control" type="email" name="email" value="{{ form.email|default('') }}" required>
    </div>
    <div>
        <label for="password" class="form-label">Password</label>
        <input id="password" class="form-control" type="password" name="password" required>
    </div>
    <div>
        <label for="password_confirm" class="form-label">Confirm password</label>
        <input id="password_confirm" class="form-control" type="password" name="password_confirm" required>
    </div>
    <button type="submit" class="btn btn-primary">Create account</button>
</form>
</div>
</div>
{% endblock %}
