{% extends "base.jinja2" %}
{% block title %}Email verification{% endblock %}
{% block content %}
<h1>Email verification</h1>
<p>{{ message }}</p>
<p><a href="/account">Return to your account</a></p>
{% endblock %}
